.header-hero-section {
    margin-top: 2.4rem;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}
.hero {
    margin-top: 2.4rem;
}

.logo {
    font-size: 3.2rem;
    font-style: bold;
    font-weight: 600;
    text-transform: uppercase;
}

.main-nav {
    text-transform: uppercase;
    transition: 0.5s all;
}

.nav-list {
    display: flex;
    justify-content: center;
    margin-left: -4rem;
    list-style-type: none;
}

.nav-list-item a:link,
.nav-list-item a:visited {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
    transition: font-weight 0.3s ease;
}

.nav-list-item a:hover,
.nav-list-item a:active {
    font-weight: bold;
    cursor: pointer;
}

ul > li {
    width: 10rem;
    text-align: end;
}

.vl {
    border: 1px solid rgb(95, 95, 95);
    margin-left: 4rem;
}

/* MOBILE NAVIGATION */

.mobile-nav {
    display: none;
}

.mobile-nav-btn {
    border: none;
    cursor: pointer;
    background: none;
}

.md {
    width: 4rem;
    height: 4rem;
    color: rgba(16, 0, 85, 0.683);
}

.close {
    display: none;
}

/* max width: 1000px trigger MOBILE NAVIGATION*/

@media (max-width: 62.5em) {
    .mobile-nav {
        display: block;
    }

    .mobile-nav {
        z-index: 1002;
    }

    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }

    .nav-open {
        .open {
            display: none;
        }
        .close {
            display: block;
        }
    }

    .nav-list {
        margin-top: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-nav {
        position: absolute;
        z-index: 1001;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.95) !important;

        opacity: 0;
        pointer-events: none;
        visibility: hidden;

        .vl {
            transform: rotate(90deg);
            height: 5rem;
            margin: 0;
        }

        .nav-list-item {
            width: 20rem;
            text-align: center;
        }
        .nav-list-item a {
            font-size: 4rem;
            text-align: center;
        }
    }
}
