.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}

.logo {
    font-size: 3.2rem;
    font-style: bold;
    font-weight: 600;
    text-transform: uppercase;
}

.main-nav {
    text-transform: uppercase;
    opacity: calc(0.7);
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-list-item a:link,
.nav-list-item a:visited {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
    transition: font-weight 0.3s ease;
}

.nav-list-item a:hover,
.nav-list-item a:active {
    font-weight: bold;
    cursor: pointer;
}

ul > li {
    width: 10rem;
    text-align: end;
}

.vl {
    border: 1px solid rgb(95, 95, 95);
    margin-left: 4rem;
}

/* 
.nav-list-item:not(:first-child) a::before {
    content: "";
    border: 1px solid rgb(95, 95, 95);
    margin-left: 4rem;
    margin-right: 4rem;
} */

/* .hero-img {
    width: 100%;
    object-fit: cover;
} */
