.movies-component {
    margin-top: 4rem;
    max-width: 120rem;
}

.premier {
    text-align: center;
    background-color: aqua;
}

.titles {
    padding-top: 4rem;
    padding-bottom: 4rem;

    background-color: rgba(13, 1, 67, 0.87);
}

.premier-title {
    font-size: 4rem;
    color: white;
    display: inline-block;
    position: relative;
}

.premier-title::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30%;
    height: 2px;
    background-color: rgb(222, 185, 0);
}

.premier-subtitle {
    font-size: 1.6rem;
    color: rgba(221, 221, 221, 0.802);
    margin-top: 1rem;
}

.movies-container {
    margin-top: 2rem;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filters {
    align-self: flex-start;
    gap: 2rem;
}

.filter-title {
    font-size: 2rem;
    display: inline;
    margin-right: 2rem;
}
.dropdown {
    display: inline-block;
}
.dropbtn {
    background-color: #001997;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

option {
    font-size: 1.2rem;
}

.movie-cards-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "card card card"
        "test test test";
    gap: 2rem;
    position: relative;
}

.text {
    font-size: 5rem;
    grid-area: test;
    position: relative;
    margin-top: 2rem;
    background-color: rgb(195, 195, 195);
}
