.filters {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-title {
    font-size: 2rem;
    display: inline;
    margin-right: 2rem;
}
.dropdown {
    display: inline-block;
}
.dropbtn {
    background-color: #001997;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

option {
    font-size: 1.2rem;
}

.search-field {
}

.search-input {
    width: 40rem;
    font-size: 2rem;
    border: 2px solid black;
}

.search-btn {
    color: white;
    background-color: #001997;
    font-size: 2rem;
    margin-left: 2rem;
    padding: 1rem 2rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.search-btn:hover {
    background-color: rgba(0, 25, 151, 0.8);
}

@media (max-width: 62.5em) {
    .filters {
        flex-direction: column;
        gap: 2rem;
    }
}
