.filters {
    margin: 2rem;
}

.filter-title {
    font-size: 2rem;
    display: inline;
    margin-right: 2rem;
}
.dropdown {
    display: inline-block;
}
.dropbtn {
    background-color: #001997;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

option {
    font-size: 1.2rem;
}
